<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>
        <h1>Html Practice Thymeleaf</h1>
        <p>Hello world!</p>
        <ul>
            <li>Lists can be created using ul element that containts li elements</li>
            <li>Ordered lists are done with ol element that containts li elements</li>
        </ul>
        <h2>Some useful HTML-elements</h2>
        <table>
            <tr>
                <td>Element</td>
                <td>Purpose</td>
                
                <tr>
                    <td>table</td>
                    <td>Creates a table</td>
                </tr>
                
                <tr>
                    <td>tr</td>
                    <td>Creates row within table</td>
                </tr>

                <tr>
                    <td>td</td>
                    <td>Creates a cell within row</td>
                </tr>
            </tr>
        </table>
    </body>
</html>